<p>Hello Sir/Madam,</p>
<p>We have confirmed your checked in for {{room}}</p>

<p>You can use the QR code below to unlock your room.</p>

<p>The code will be valid from {{startedAt}} to {{endedAt}}.</p>

<p>Please make sure you take everything out of the room before 12am.</p>

<p>Thank you,</p>

<p>Vkirirom Pine Resort</p>

<p>If you did not request this email you can safely ignore it.</p>